.cache/

*.obj
*.os

compile_commands.json

.sconsign.dblite

project/bin

*.pdb

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

project/

# scons
bin/

__pycache__/
.godot/
gen/

*.log

.tools/**
!.tools/README.md